<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aidn5.hypeapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <!--ServiceActivator depends on it.
    ServiceActivator activates ServicesProvider,
    which is the responsible on providing notifications and sync in the background-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".G"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/defaultTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".activities.main_activity.MainActivity"
            android:theme="@style/MainActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.settings.SettingsUIActivity"
            android:theme="@style/SettingsUIActivityTheme" />
        <activity
            android:name=".activities.settings.SetApiActivity"
            android:theme="@style/SetApiActivityTheme" />
        <activity
            android:name=".activities.BestFriendsList"
            android:theme="@style/BestFriendsListTheme" />
        <activity
            android:name=".activities.SelectPlayersActivity"
            android:theme="@style/SelectPlayersActivityTheme" />
        <activity
            android:name=".activities.settings.SetForumAccounts"
            android:theme="@style/SetForumAccountsTheme" />
        <activity
            android:name=".activities.WelcomeScreenActivity"
            android:theme="@style/WelcomeScreenActivityTheme" />

        <receiver android:name=".ServiceActivator">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".ServicesProvider"
            android:enabled="true" />

    </application>
</manifest>